body {
  background-image: url("http://ak1.picdn.net/shutterstock/videos/3718091/thumb/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black; }

.popup_inner {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  left: 27%;
  right: 27%;
  top: 26%;
  bottom: 36%;
  margin: auto;
  background: whitesmoke;
  animation-name: boxswitch;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
  .popup_inner p {
    margin-top: 57px;
    padding: 8%;
    font-size: 1.7em; }

@keyframes boxswitch {
  0% {
    box-shadow: inset 0 0 15px 15px red; }
  20% {
    box-shadow: inset 0 0 15px 15px green; }
  40% {
    box-shadow: inset 0 0 15px 15px purple; }
  80% {
    box-shadow: inset 0 0 15px 15px blue; }
  100% {
    box-shadow: inset 0 0 15px 15px yellow; } }

.total {
  font-size: 1.4em; }
  .total h1 {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 18vh; }

.moveTable {
  display: flex;
  justify-content: center;
  align-content: center; }

.movePag {
  margin-top: 8vh;
  display: flex;
  justify-content: center; }

.actressTable {
  border: 1px solid black;
  table-layout: fixed;
  width: 1200px; }

td {
  text-align: center; }

.head {
  background-color: lightgrey; }
  .head td {
    border-bottom: 2px solid #000000; }

tbody > tr:nth-child(even) {
  background-color: #C0C0C0; }

tbody > tr:nth-child(odd) {
  background-color: #ADD8E6; }

tbody > tr:hover {
  cursor: pointer; }

tbody td {
  border-right: 1px dashed #000000; }

@media (min-width: 1700px) and (max-width: 1920px) {
  body {
    font-size: 1.2em; }
  .actressTable {
    width: 1050px; } }

@media (min-width: 1500px) and (max-width: 1700px) {
  body {
    font-size: 1.2em; }
  .actressTable {
    width: 1000px; }
  .popup_inner p {
    font-size: 1.6em; } }

@media (min-width: 1200px) and (max-width: 1500px) {
  body {
    font-size: 1.1em; }
  .actressTable {
    width: 900px; }
  .popup_inner p {
    font-size: 1.5em; } }
